library/roboguiced/bin
library/roboguiced/gen
library/roboguiced/old
library/roboguiced/src/useless
library/common/bin
library/common/gen
library/common/src/useless
library/vanilla/NO
library/vanilla/NO/old
library/vanilla/bin
library/vanilla/gen
library/vanilla/old
library/vanilla/src/useless
sample/roboguiced/NO
sample/roboguiced/bin
sample/roboguiced/gen
sample/vanilla/NO
sample/vanilla/bin
sample/vanilla/gen